# Other
*
.vscode
__pycache__
!__init__.py

# Fed-Cl-IDS
!data_pipeline
!data_pipeline/**
data_pipeline/preprocessed_uavids

!fed
!fed/*.py

!models
!models/*.py

!outputs
!outputs/metrics.txt

!pyproject.toml